.card {
  margin-top: 30px;
  width: 960px;
  height: 600px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
}

.poster-container {
  width: 400px;
  height: 100%;
}

.poster-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.information-container {
  width: 560px;
  padding: 20px;
}

.title {
  margin: 0 0 10px 0;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Lato", sans-serif;
}

.tagline {
  font-size: 1.3rem;
  margin: 0 0 10px 0;
}

.overview {
  line-height: 24px;
  font-family: "Lato", sans-serif;
  max-height: 120px;
  overflow: auto;
}

.genres {
  margin: 40px 0 0 0;
  font-size: 1.3rem;
}

.numbers-section {
  margin: 40px 0 0 0;
  display: flex;
}

.number-container {
  width: 50%;
}

.number {
  font-size: 1.8rem;
}
