.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  border: 3px solid #01b4e4;
  color: #01b4e4;
  padding: 5px 10px;
  border-radius: 7px;
}

.logo-text-upper {
  font-size: 0.6rem;
}

.logo-text-lower {
  font-weight: 700;
  font-size: 1.1rem;
}

input {
  border: none;
  background: none;
  border-bottom: solid 1px white;
  width: 450px;
  height: 20px;
  padding: 5px 12px;
  font-size: 1.1rem;
  color: white;
}

input:focus {
  outline: none;
}
